      <div class="row">

<div class ="desc">
        <div id = "descPic"><img id = "dpic" src={{viewData.meals.image}} alt="item Image1"></div>
</div>
<div class ="DescBox">
<span id ="itemName2"> {{viewData.meals.title}}</span>
<span id = "info2"><p>${{viewData.meals.price}}</p></span>
<p id = "info2"> How would you like to add extra protain to each meal?</p>
<div class="number">
<button onclick="Decreasing">-</button></a>
<span id="numberUpDown">1</span>
<button onclick="Increasing">+</button></a>
<button onclick="addOrder">Add to order</button></a>
</div>
<p id = "info2"> {{viewData.meals.info}}</p>
    </div>
