<div class="row">
    <div class="box1">

<legend>Log in</legend>
<br /><br />
                            <div class="logos">
                                <a href="https://www.facebook.com" target="_blank">
                                <img src="/images/facebook-2429746_640.png" alt="item Image1"></a>
                                <a href="https://www.instagram.com/" target="_blank">
                                <img src="/images/instagram-3814080_640.png" alt="item Image2"></a>
                                <a href="https://twitter.com/" target="_blank">
                                <img src="/images/twitter-667462_640.png" alt="item Image3"></a>
                                <a href="https://accounts.google.com/signin" target="_blank">
                                <img src="/images/google-plus-940316_640.png" alt="item Image4"></a>
                            </div>


        <form method="post" action="/login">
                 <fieldset>

                            <legend id = "midpart">Or</legend>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input class="form-control" id="email" name="email" type="email" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="password">Password</label>
                                        <a href=""><em>you forgot password?</em></a>
                                        <input class="form-control" id="password" name="password" type="password" />
                                    </div>
                                </div>

                            </div>
                             <input type="submit" class="btn" value="LogIn" /><br /><br /><br />
                            </div>
                               <div id = "err">
  {{#if errorMessage}}<div class="alert alert-danger"> <strong>Error:</strong> {{errorMessage}}</div>{{/if}}
        </form>   
    </div>
</div>