
<div id = "heroheader"> 
  <h2>What is LiveFit?</h2>
  <p>LiveFit is a whole new way to eat.</p>
  <p> Our in-house chefs create nourishing dishes that get delivered right to your door, ready to heat and eat when you are.</p>


</div>
      <div class="row">
            <br />
  <br />
<legend>Create Account</legend>
<br /><br />   
                            <div class="logos">
                                <a href="https://www.facebook.com" target="_blank">
                                <img src="/images/facebook-2429746_640.png" alt="item Image1"></a>
                                <a href="https://www.instagram.com/" target="_blank">
                                <img src="/images/instagram-3814080_640.png" alt="item Image2"></a>
                                <a href="https://twitter.com/" target="_blank">
                                <img src="/images/twitter-667462_640.png" alt="item Image3"></a>
                                <a href="https://accounts.google.com/signin" target="_blank">
                                <img src="/images/google-plus-940316_640.png" alt="item Image4"></a>
                            </div>
            <div class="box1">
                    <br />
                    <form method="POST" action="/registeration" id="registeration">
                        <fieldset>

                            <legend id = "midpart">Or</legend>
                            <div class="row">

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="firstName">First Name</label>
                                        <input class="form-control" id="firstName" name="firstName" type="text" />
                                    </div>
                                </div>
                            </div>
                            <div class= "row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="last_name">Last Name</label>
                                        <input class="form-control" id="lastName" name="lastName" type="text"  />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input class="form-control" id="email" name="email" type="email" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Password">Password</label>
                                        <a href=""><em>you forgot password?</em></a>
                                        <input class="form-control" id="password" name="password" type="Password" />
                                    </div>
                                </div>
                            </div>
                             <input type="submit" class="btn" value="Sign In" /><br /><br /><br />
                            </div>
                            <div class = "errorBox">
                                {{#each message}}
                            <div class="errors">{{this}}</div>
                            {{/each}}</div>
                        </fieldset>
          </div>
       
  
