body{
    font-family: 'Balsamiq Sans', cursive;
    width: 1500px; 
}
.logo{
    width: 70px; 
    height: 70px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 10px;
}
.nav,.nav a:link,.nav a:visited{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 25px;
    color: #7B8689;
}
#mainheader{
    margin-left: -200px;
    width: 1554px;  
    height: 600px;
    background-image: url("https://cdn.pixabay.com/photo/2017/01/31/09/30/raspberry-2023404_960_720.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#mainheader h1{
    color: gold;
    font-family: 'Balsamiq Sans', cursive;
    text-align: center;
    font-size: 100px;
    padding-top: 150px;
}
#subheader {
    margin-left: -200px;
    width: 1540px; 
    height: 750px;
    background-image: url("https://cdn.pixabay.com/photo/2017/06/06/22/46/mediterranean-cuisine-2378758_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#subheader h1{
    text-align: center;
    color: white;
    font-size: 100px;
    padding-top: 250px;
    padding-left: 20px;
}
#subtitle{
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}
#contents{
    margin-top: 150px;
    text-align: center;
}
#navLink {
    font-size: 15px;
}
.box{
    width: 250px; 
    height: 400px;
    padding: 10px;
    padding-right: 10px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 30px;
    float: left;
    display: grid;
}

.box2{
    width: 100px; 
    height: 450px;
    padding: 10px;
    margin-top: 20px;
    margin-left: 80px;
    margin-right: 50px;
    margin-bottom: 10px;
    float: left;
    display: grid;
}
#item { 


    padding: 10px;
    width: 250px; 
    height: 250px;
    margin-bottom: 10px;

}
#itemName{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}
#pic{
    margin-left: -11px;
    margin-top: -11px;
    width: 250px;
    height: 250px;
    
}
#contentname,#contentinfo{
    text-align: center;
    margin-top: -70px;
}
.contentsbox{
    width: 220px; 
    height: 450px;
    padding: 10px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 50px;
    margin-bottom: 10px;

    float: left;
    display: grid;
}
#gif{
    margin-left: 30px;
    width: 220px; 
    height: 200px;
}
#info,#price{
    text-align: center;
}
.subhero{
width: 100%;
height: 600px;
}
.btn,.btn:hover{
    font-size: 20px;
    background:#e8015a;
    color:#ffffff;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 2px;
    border: 1px solid #e8105a;
}
.box1{
    width: 320px; 
    height: 450px;
    padding: 10px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
    border: 1px;
}
.errorBox{
    width: 320px; 
    height: 450px;
    padding: 10px;
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    line-height:3em;
    float: left;
    border: 1px;
    color: red;
}
em{
    padding-left: 100px;
}
#loginbox{
    width: 400px; 
    height: 600px;

    margin-bottom: 20px;
}
#midpart,.row1{
    text-align: center;
}
.logos{
    width: 360px; 
    height: 50px;
}
.logos img{
    width: 40px; 
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-left: 10px;
    float: left;
    display: grid;
}
.footer-copyright{
    margin-top: 10px;
    width: 100%px; 
    height: 10px;
}
.font-weight-bold ul{

    margin-bottom: 100px;

}
#heroheader{
    margin-left: -200px;
    width: 1540px; 
    height: 550px;
    background-image: url("/images/food-712665_640.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
#heroheader p{
    font-size: 25px;
    padding-top: 40px;
}
#heroheader h2{
    font-size: 50px;
    color: #e8105a;
    text-align: center;
    padding-top: 40px;
}
footer{
 margin-left: 160px;
 width: 1200px; 
 height: 100px;
}
#welcomBox{
    width: 100%; 
    height: 450px;
    padding: 10px;
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px;
    text-align: center;
}
#welcomBox h2{
    text-align: center;
    margin-bottom: 40px;
}
#welcomBox form input{
    display : block;
    margin : 0 auto;
}